.hero {
  margin: 0;
}

.hero__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 800px) {
  .hero__img {
    height: 100%;
    width: auto;
  }
}
